<a href="https://colab.research.google.com/github/RedEgnival/sem-4/blob/main/I069_SM_lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rusheel Sharma
# I069
# SM Lab 3

 Q1 The number of items drawn from each strata is proportional to the size of the strata. The population is divided into 6 groups. Their respective sizes being 8,12, 20, 18, 20 and 22 percent of the population and a sample of 7,000 is drawn. Obtain the desired sample for each Strata.


---

In [ ]:
s = int(input("Enter sample size: "))
st = int(input("Enter number of stratas: "))
stsize = []
for i in range (0, st):
    size = float(input(f"Enter the percentage of population in strata-{i+1} (eg.8): "))
    stsize.append(size/100)
for i in range (0, st):
    print(f"From stratum-{i+1} the desired sample =", s*stsize[i])

Enter sample size: 7000
Enter number of stratas: 6
Enter the percentage of population in strata-1 (eg.8): 8
Enter the percentage of population in strata-2 (eg.8): 12
Enter the percentage of population in strata-3 (eg.8): 20
Enter the percentage of population in strata-4 (eg.8): 18
Enter the percentage of population in strata-5 (eg.8): 20
Enter the percentage of population in strata-6 (eg.8): 22
From stratum-1 the desired sample = 560.0
From stratum-2 the desired sample = 840.0
From stratum-3 the desired sample = 1400.0
From stratum-4 the desired sample = 1260.0
From stratum-5 the desired sample = 1400.0
From stratum-6 the desired sample = 1540.0

Q2 You are given the following data in a town  
Income (Rs) 	,	Carpenters 	,	Plumbers 	,	Electrician

 Less than 50,000, 	1,100, 			1250, 			1900

 50000 – 100,000 ,	2,050 	,		2320 		,	2200

100000 – 150,000 ,	1,200 	,		1470 	,		1700

More than 150,000 ,	970 		,	890 	,		1150





------------------------------------------------------------------------------
 How many would be selected from each category if  
(i) we follow stratified proportionate sampling method and take 8% of the universe equivalent of the sample size,
(ii) if the size of sample is 12% of the universe but the Carpenters , plumbers and electricians are to be in the ratio 2:4:6 and weightage of the Income range is to be in the ratio of 5: 4: 2: 1

In [ ]:
import pandas as pd
data = {
    "Income Range": ["Less than 50,000", "50,000 – 100,000", "100,000 – 150,000", "More than 150,000"],
    "Carpenters": [1100, 2050, 1200, 970],
    "Plumbers": [1250, 2320, 1470, 890],
    "Electricians": [1900, 2200, 1700, 1150]
}
df = pd.DataFrame(data)
print(df)

new_df = df.copy()
new_df.iloc[:, 1:] = (new_df.iloc[:, 1:] * 0.08)
new_df["Total"] = new_df.iloc[:, 1:].sum(axis=1)

new_df.loc["Total"] = new_df.sum(numeric_only=True).round()
new_df.at["Total", "Income Range"] = "Total"
print()
print(new_df)

        Income Range  Carpenters  Plumbers  Electricians
0   Less than 50,000        1100      1250          1900
1   50,000 – 100,000        2050      2320          2200
2  100,000 – 150,000        1200      1470          1700
3  More than 150,000         970       890          1150

            Income Range  Carpenters  Plumbers  Electricians   Total
0       Less than 50,000        88.0     100.0         152.0   340.0
1       50,000 – 100,000       164.0     185.6         176.0   525.6
2      100,000 – 150,000        96.0     117.6         136.0   349.6
3      More than 150,000        77.6      71.2          92.0   240.8
Total              Total       426.0     474.0         556.0  1456.0

<ipython-input-3-60dd5128ef61>:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0     88.0
1    164.0
2     96.0
3     77.6
Name: Carpenters, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.iloc[:, 1:] = (new_df.iloc[:, 1:] * 0.08)
<ipython-input-3-60dd5128ef61>:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0    100.0
1    185.6
2    117.6
3     71.2
Name: Plumbers, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.iloc[:, 1:] = (new_df.iloc[:, 1:] * 0.08)
<ipython-input-3-60dd5128ef61>:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0    152.0
1    176.0
2    136.0
3     92.0
Name: Electricians, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.iloc[:, 1:] = (new_df.iloc[:, 1:] * 0.08)

In [ ]:
data = {
    "Income Range": ["Less than 50,000", "50,000 – 100,000", "100,000 – 150,000", "More than 150,000"],
    "Carpenters": [1100, 2050, 1200, 970],
    "Plumbers": [1250, 2320, 1470, 890],
    "Electricians": [1900, 2200, 1700, 1150]
}
df = pd.DataFrame(data)
print(df)

total_universe = df.iloc[:, 1:].sum().sum()
sample_size = total_universe * 0.12

carpenter_ratio = 2
plumber_ratio = 4
electrician_ratio = 6
total_ratio = carpenter_ratio + plumber_ratio + electrician_ratio

carpenter_sample = (carpenter_ratio / total_ratio) * sample_size
plumber_sample = (plumber_ratio / total_ratio) * sample_size
electrician_sample = (electrician_ratio / total_ratio) * sample_size

income_range_weights = [5, 4, 2, 1]
total_weight = sum(income_range_weights)

income_range_samples = [(weight / total_weight) * sample_size for weight in income_range_weights]

new_df = df.copy()

for i, income_range in enumerate(data["Income Range"]):
    carpenter_count = (carpenter_sample / sample_size) * income_range_samples[i]
    plumber_count = (plumber_sample / sample_size) * income_range_samples[i]
    electrician_count = (electrician_sample / sample_size) * income_range_samples[i]

    new_df.at[i, "Carpenters"] = carpenter_count
    new_df.at[i, "Plumbers"] = plumber_count
    new_df.at[i, "Electricians"] = electrician_count

new_df["Carpenters"] = new_df["Carpenters"].round(1)
new_df["Plumbers"] = new_df["Plumbers"].round(1)
new_df["Electricians"] = new_df["Electricians"].round(1)

new_df["Total"] = new_df.iloc[:, 1:].sum(axis=1)

new_df.loc["Total"] = new_df.sum(numeric_only=True)
new_df.at["Total", "Income Range"] = "Total"

new_df["Total"] = new_df["Total"].round(1)
print()
print(new_df)

        Income Range  Carpenters  Plumbers  Electricians
0   Less than 50,000        1100      1250          1900
1   50,000 – 100,000        2050      2320          2200
2  100,000 – 150,000        1200      1470          1700
3  More than 150,000         970       890          1150

            Income Range  Carpenters  Plumbers  Electricians   Total
0       Less than 50,000       151.7     303.3         455.0   910.0
1       50,000 – 100,000       121.3     242.7         364.0   728.0
2      100,000 – 150,000        60.7     121.3         182.0   364.0
3      More than 150,000        30.3      60.7          91.0   182.0
Total              Total       364.0     728.0        1092.0  2184.0

<ipython-input-7-0b500af7a61d>:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '151.66666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.at[i, "Carpenters"] = carpenter_count
<ipython-input-7-0b500af7a61d>:35: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '303.3333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  new_df.at[i, "Plumbers"] = plumber_count

Q3 Find the estimates of population mean and population variance of the data

Class Interval   0 – 10	, 	10 – 20 ,	20 – 30 ,	30 – 40 ,	40 – 50

Frequency 	   14 		,    23 		,     27 	,	    21 		,    15


---

In [ ]:
class_intervals = ['0-10', '10-20', '20-30', '30-40', '40-50']
frequencies = [14, 23, 27, 21, 15]

midpoints = []
fixi = []
fixisqr = []
for i in range(len(frequencies)):
    lower, upper = map(int, class_intervals[i].split('-'))
    midpoint = (lower + upper) / 2
    midpoints.append(midpoint)
    fixi.append(frequencies[i]*midpoint)
    fixisqr.append(frequencies[i]*(midpoint**2))

data = pd.DataFrame({'Class Intervals': class_intervals,'Fi': frequencies,'Xi': midpoints,'FiXi': fixi,'fixi^2':fixisqr})
print("\n",data)

mean = sum(fixi)/sum(frequencies)
print("\nMean:", mean)

variance = (sum(fixisqr)/sum(frequencies))- (mean**2)
print("Variance:", variance)

   Class Intervals  Fi    Xi   FiXi   fixi^2
0            0-10  14   5.0   70.0    350.0
1           10-20  23  15.0  345.0   5175.0
2           20-30  27  25.0  675.0  16875.0
3           30-40  21  35.0  735.0  25725.0
4           40-50  15  45.0  675.0  30375.0

Mean: 25.0
Variance: 160.0

Q4 Find the mean of the data
 \
Xi =	10, 	11, 	12, 	13, 	14  
Fi =	  3, 	12, 	18, 	12, 	3

 N= 500

 S square (S**2) = 2.25

 Also, find Var (sample Mean) for sampling without replacement.


---

In [ ]:
Xi = [10,11,12,13,14]
Fi = [14, 23, 27, 21, 15]
N = 500
Ssqr = 2.25
n = len(Xi)

# SRSWR:
Var1 = ((N-1)/(N*n))*Ssqr
print("SRSWR:\nVar(Sample mean) =", Var1)

#SRSWOR
Var2 = ((N-n)/(N*n))*Ssqr
print("\nSRSWOR:\nVar(Sample mean) =", Var2)

SRSWR:
Var(Sample mean) = 0.4491

SRSWOR:
Var(Sample mean) = 0.4455